@keyframes CommingFromLeft{
    0%{
        opacity: 0;
        transform: translateX(-2rem);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes CommingFromRight{
    0%{
        opacity: 0;
        transform: translateX(2rem);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes CommingFromBottom{
    0%{
        opacity: 0;
        transform: translateY(2rem);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes CommingFromTop{
    0%{
        opacity: 0;
        transform: translateY(-2rem);
    }
    100%{
        opacity: 1;
        transform: translateY(0em);
    }
}
@keyframes CommingFromPointToGrand{
    0%{
        opacity: 0;
        transform: scale(.1);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes CommingFromGrandToPoint{
    0%{
        opacity: 0;
        transform: scale(1);
    }
    100%{
        opacity: 1;
        transform: scale(0);
    }
}

@keyframes CommingHiddenToVisibleOpacity{
    0%{
        opacity: 0;
        // transform: scale(1);
    }
    25%{
        opacity: 0.25;
        // transform: scale(1);
    }
    50%{
        opacity: 0.5;
        // transform: scale(1);
    }75%{
        opacity: 0.75;
        // transform: scale(1);
    }
    100%{
        opacity: 1;
        // transform: scale(0);
    }
}
@keyframes CommingHiddenToVisibleOpacityInverse{
    0%{
        opacity: 1;
        // transform: scale(1);
    }
    25%{
        opacity: 0.75;
        // transform: scale(1);
    }
    50%{
        opacity: 0.5;
        // transform: scale(1);
    }75%{
        opacity: 0.25;
        // transform: scale(1);
    }
    100%{
        opacity: 0;
        // transform: scale(0);
    }
}

// animation: moveInBottom .5s ease-in-out .75s;
