body{
  font-family: $police-1, $police-2, $police-3;
  font-size: 1.6rem;
}
.title-all{

}
.title_primary{

}
.title_secondary{
  font-size: 1em;
  // font-weight: bold;
  color: $color_primary_red;
}
.title_tertiary{
  font-size: .8em;
  // font-weight: bold;
  color: $color_primary_red;

}
.title_default{
  font-size: .8em;
}
