.u-content-vertical {
  display: flex;
  flex-direction: column;

  &__align-right{ align-items: flex-end;}
  &__align-left{}
  &__align-space-between{ justify-content: space-between; }
}
.u-content-flex {
  display: flex;
  &__align-right{ align-items: flex-end;}
  &__align-left{}
  &__align-space-between{ justify-content: space-between; }
}
.u-content-self-to-right-grid{ justify-self: right; }
.u-content-self-justify-to-center-grid{ justify-self: center; }
.u-content-self-align-to-center-grid{ align-self: center; }

.u-content-all-to-right-grid{ justify-content: right; }
.u-content-self-vertical-to-center-grid{align-content: center;}

.u-content-justify { text-align: justify; }

.u-opacity-1x {opacity: .1};
.u-opacity-2x {opacity: .2};
.u-opacity-3x {opacity: .3};
.u-opacity-4x {opacity: .4};
.u-opacity-5x {opacity: .5};

// LES MARGINS UTILITIES
.u-margin-top-1x{margin-top: 1px !important;}
.u-margin-top-2x{margin-top: 4px !important;}
.u-margin-top-3x{margin-top: 6px !important;}
.u-margin-top-4x{margin-top: 8px !important;}
.u-margin-top-5x{margin-top: 10px !important;}
.u-margin-top-6x{margin-top: 12px !important;}
.u-margin-top-7x{margin-top: 14px !important;}
.u-margin-top-8x{margin-top: 16px !important;}
.u-margin-top-9x{margin-top: 18px !important;}
.u-margin-top-10x{margin-top: 20px !important;}

.u-margin-bottom-1x{margin-bottom: 1px !important;}
.u-margin-bottom-2x{margin-bottom: 4px !important;}
.u-margin-bottom-3x{margin-bottom: 6px !important;}
.u-margin-bottom-4x{margin-bottom: 8px !important;}
.u-margin-bottom-5x{margin-bottom: 10px !important;}
.u-margin-bottom-6x{margin-bottom: 12px !important;}
.u-margin-bottom-7x{margin-bottom: 14px !important;}
.u-margin-bottom-8x{margin-bottom: 16px !important;}
.u-margin-bottom-9x{margin-bottom: 18px !important;}
.u-margin-bottom-10x{margin-bottom: 20px !important;}

.u-margin-left-1x{margin-left: 1px !important;}
.u-margin-left-2x{margin-left: 4px !important;}
.u-margin-left-3x{margin-left: 6px !important;}
.u-margin-left-4x{margin-left: 8px !important;}
.u-margin-left-5x{margin-left: 10px !important;}
.u-margin-left-6x{margin-left: 12px !important;}

.u-margin-right-1x{margin-right: 1px !important;}
.u-margin-right-2x{margin-right: 4px !important;}
.u-margin-right-3x{margin-right: 6px !important;}
.u-margin-right-4x{margin-right: 8px !important;}
.u-margin-right-5x{margin-right: 10px !important;}
.u-margin-right-6x{margin-right: 12px !important;}


.u-padding-bottom-1x{padding-bottom: 1px !important;}
.u-padding-bottom-2x{padding-bottom: 4px !important;}
.u-padding-bottom-3x{padding-bottom: 6px !important;}
.u-padding-bottom-4x{padding-bottom: 8px !important;}
.u-padding-bottom-5x{padding-bottom: 10px !important;}
.u-padding-bottom-6x{padding-bottom: 12px !important;}

.u-font-size-1x{font-size: 1em;}
.u-font-size-2x{font-size: 1.2em;}
.u-font-size-3x{font-size: 1.3em;}
.u-font-size-4x{font-size: 1.4em; font-weight: lighter !important;}
.u-font-size-5x{font-size: 1.5em;}
.u-font-size-6x{font-size: 1.6em;}
.u-font-size-7x{font-size: 1.7em;}
.u-font-size-8x{font-size: 1.8em;}
.u-font-size-9x{font-size: 1.9em;}
.u-font-size-10x{font-size: 2em;}

// COLORS
.u-color-red{
  color : $color_primary_red;
}

//FONT HEIGHT
.u-bold {
  font-weight: bold;
}

.u-postion-relative{
  position: relative;
}
.u-position-screen-right-bottom{
  position: fixed;
  bottom: 3%;
  right: 3%;

}

.u-border-primary {
  border : 1px solid $color_black;
}
.u-border-secondary {
  border : 1px solid $color_primary_white;
}
.u-border-tertiary {
  border : 1px solid $color_tertiary;
}
.u-border-radius-5 {
  border-radius: 5px;
}

.u-cursor-pointer{
  cursor: pointer;
}

// GRID AREA utilities
.u-grid-1-1-area{
  grid-column: 1/-1;
}

// SCROLL HORIZONTAL
.u-scroll-horizontal {

display: flex;
min-width: 100%;
min-height: 200px;
overflow-x: auto;

& .card{
  min-width: 200px !important;
  max-width: 200px;
  margin: 5px;
  flex: 1 1 1;
}
&__property{
  @include responsive(norm-desk){
    flex-direction: column;
    align-items:center;
    min-width: 100%;
    min-height: 75vh;
    max-height: 75vh;
    overflow-y: auto;
    // padding-top: 5rem !important;
    // border : 1px solid green !important;

  }
}

&::-webkit-scrollbar {
display: none;
}

}
// Center Bloc
.bloc-center-horizontal{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 20% !important;
  // border :10px solid blue;
  transform: translateX(-50%) translateY(-200%);

}
.center-element{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.top-right-element{
  position: absolute;
  right:-5%;
  top: -10%;
}


// HIDDEN ELEMENTS
@include responsive(phone){
  .u-hidden-mob{
    display: none;
  }
  .u-mob-take-grid{
    display: grid;
  }
  .u-font-size-mob{
    font-size: 1.3rem;
  }

}
@include responsive(tab-port){
  .u-hidden-tab-por{
    display: none;
  }
  .u-tab-port-take-grid{
    display: grid;
  }
  .u-font-size-tab-por{
    font-size: 1.3rem;
  }
}
@include responsive(tab-land){
  .u-hidden-tab-land{
    display: none;
  }
  .u-tab-land-take-grid{
    display: grid;
  }
  .u-content-align-right-tab-land{ text-align: right;}
}
@include responsive(norm-desk){
  .u-hidden-norm-desk{
    display: none;
  }
  .u-tab-norm-desk-take-grid{
    display: grid;
  }
  .u-remove-margin-norm-desk{
    margin-top: 0px !important;
  }

  .u-change-norm-desk-grid-to-flex{
    display: flex !important;

    &-u-scroll{
      min-width: 100%;
      min-height: 50px !important;
      max-height: 150px;
      overflow-x: auto;

      &__element{
        min-width: 200px !important;
        max-width: 200px;
        min-height: auto;
        max-height: auto;

        &:not(:last-child){
          margin-right: 1rem;
        }
      }
    }
  }
}

// CLASSES DES animations
.u-animation-FromRight{ animation: CommingFromRight .6s ease-in-out; }
.u-animation-FromLeft{ animation: CommingFromLeft .6s ease-in-out; }
.u-animation-FromTop{ animation: CommingFromTop .6s ease-in-out; }
.u-animation-FromBottom{ animation: CommingFromBottom .6s ease-in-out; }
.u-animation-FromPointToGrand{ animation: CommingFromPointToGrand .6s ease-in-out; }
.u-animation-FromGrandToPoint{ animation: CommingFromGrandToPoint .6s ease-in-out; }
.u-animation-CommingHiddenToVisibleOpacity{ animation: CommingHiddenToVisibleOpacity .6s ease-in-out; }
