.divers{

  width: 70%;
  height: 99%;
  margin: auto;
  position: relative;
  // border: 1px solid red;
  bottom: 0;
  display: block;

  @include responsive(phone){
    width: 90%;
  }
  @include responsive(tab-port){
    width: 80%;
  }

  h1{
    color: $color_primary_red;
  }
  h2,h3{
  color : $color_tertiary;
  }
  &-btn{
    position: absolute;
    top: 100%;
    width: 100%;
  }
  &-hidden{
    display: none;
  }
  &-show{
    display: block;
  }
}
.one-tab{
  position: absolute;
  top: 0;
}
.two-tab{
  // height: 810px;
  // border : 1px solid blue;
  position: absolute;
  top: 0;
  // display: none;
}
.three-tab{
  // height: 810px;
  // border : 1px solid green;
  position: absolute;
  top: 0;
  // display: none;
}
