.section-image-home{

}
.section-category{
  margin-top: 7.5rem;
  // border : 1px solid red;

  @include responsive(tab-port){
    margin-top: 9.5rem;
  }
  @include responsive(tab-land){
    margin: 5rem 5rem 0 5rem;
  }
  @include responsive(norm-desk){
    margin: 5rem 8rem 0 8rem;
  }
}
