.main-page{
  margin: 0 1.2rem 0 1.2rem;
  @include responsive(phone){
    margin: 0 1.3rem 0 1.3rem;
  }
  @include responsive(tab-port){
    margin: 0 1rem 0 1rem;
  }
  @include responsive(tab-land){
    margin: 0 1rem 0 1rem;
  }
  @include responsive(norm-desk){
    margin: 0 9rem 0 9rem;
  }
  margin-top: 2rem !important;
}
