.card{
  // display: flex;
  padding: .2rem .5rem;
  // margin: .3rem 1rem;
  box-shadow: 0rem .2rem .2rem rgba(0, 0, 0, 0.1);
  // border : 1px solid green;
  transition: all 1s;


  &__image{
    // flex:2 1 0;
    // border : 1px solid red;
    display: flex;

    &--img{
      border-radius: .9rem;
    }

    &__height-size{
      height: auto;
      &__similar{
        height: 10rem;
      }

      @include transition;
      @include responsive(tab-port){
        height: 15rem;
      }
      @include responsive(tab-land){
        height: 18rem;
      }
    }
  }
  &__title{
    // flex:1 1 0;
    padding-left: 1rem;
  }

  &__detail{
    &__left{
      &--title{
        &-01{
          font-weight: bolder;
          &__item{
            font-size: 1.4rem;
            font-weight: bolder;
          }
        }
        &-detail-text{
          font-size: 1.3rem;
        }
      }
    }

    &__right{
      &--price{
          font-weight: bolder;
          color: $color_primary_red;
          font-size: 1.3rem;
          @include responsive(norm-desk){
            font-size: 1.3rem;
          }
      }
    }
  }

  &__margin{
    margin: .3rem 1rem;
  }

}
