.form{
  &-input{
    font-size: $font-size-input-btn;
    font-family: $police-1;

    @include responsive(tab-port){
      padding: 11px !important;
    }
  }
  &-input-select{
    appearance : none;
    -webkit-appearance : none;
    -moz-appearance :none;
    -o-appearance : none;
    background: url('../uploads/file_static/ByOseMaRkEt_CaRtPge_IcOnz-05.png') 98% center / .7em no-repeat;
    padding: 10px !important;

    font-size: $font-size-input-btn;
    font-family: $police-1;
    font-weight: normal;
    transition: all 1s;
    // border: 10px solid yellow;

    option{
      font-size: $font-size-input-btn;
      font-family: $police-1;
    }


    //responsive
    @include responsive(tab-port){
      padding: 11px !important;
    }
  }

  input,
  select {
    background-color: $color_primary_bg_input;
    width: 100%;
    border: 0;
    padding: 10px;
    border-radius: 3px;

    &:hover,
    &:focus{
      background-color: $color_primary_bg_input_hover;
      // font-weight: bold;
    }
    //remove arrow on input number
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
  input[type=number] {
    -moz-appearance: textfield;
  }
  input[type=file] {
    display: none;
  }


  input[type=checkbox]{
    // width: auto;
    opacity: 0;
    width: 0 !important;
    height: 0;
    margin: 0;
    padding: 0;
  }

  input[type=checkbox] + span{
   background: url("icon_input/circle.svg") left center / 1em no-repeat;
   padding: 0px 1.2em;
   display: inline-block;
  }
  input[type=checkbox]:checked + span {
    background: url("icon_input/check-circle.svg") left center / 1em no-repeat;
  }

  // label{
  //   &::after{
  //     content: "tooltip je suis fait par mon maestro et maintenant";
  //     font-size: 1.2rem;
  //     background: red;
  //     border-radius: 5px;
  //     width: 100%;
  //     padding: 4px;
  //     margin-top : 10px;
  //     position: absolute;
  //     top: 100%;
  //     left: 0;
  //     opacity: 0;
  //     transition: all 1s;
  //     color: white;
  //   }
  //   &::before{
  //     content: "";
  //     opacity: 0;
  //     // background-color: red;
  //     width: 20px;
  //     height: 20px;
  //     border-bottom: 10px solid red;
  //     border-left: 10px solid transparent;
  //     border-right: 10px solid transparent;
  //     position: absolute;
  //     top: 75%;
  //     left: 50%;
  //     transform: translateX(-50%);
  //     transition: all 1s;
  //   }
  //
  //     &:hover {
  //       &::before,
  //       &::after{
  //         opacity: 1;
  //     // animation: CommingFromTop 1s ease-in-out;
  //         transition: all 1s;
  //       }
  //     }
  //   }

}
