@import "grid_mobile";
@import "grid_tab_portrait";
@import "grid_tab_land";
@import "grid_desk_normal";
@import "grid_desk_big";

//PROPRIETES COMMUNES
//GAP-ESPACE
.ted-col{
  grid-gap: 1px;
  align-items: stretch;
  &-e-1{
    grid-gap: 2px;
  }
  &-e-2{
    grid-gap: 4px;
  }
  &-e-3{
    grid-gap: 6px;
  }
  &-e-4{
    grid-gap: 8px;
  }
  &-e-5{
    grid-gap: 10px;
  }
  &-e-6{
    grid-gap: 12px;
  }
  &-e-7{
    grid-gap: 14px;
  }
  &-e-8{
    grid-gap: 16px;
  }
  &-e-9{
    grid-gap: 18px;
  }
  &-e-10{
    grid-gap: 20px;
  }
}
