// RED COLORS
$color_primary_red : rgb(255, 5, 5);

//BLACK COLORS
$color_black : black;



//WHITE COLORS
$color_primary_white : #fff;
$color_secondary_white : #f7f8fc;

//COLOR INFO
$color_tertiary : #155A7A;

// INPUT

$color_primary_bg_input : rgba(204, 204, 204, .5);
$color_primary_bg_input_hover : rgba(204, 204, 204, .3);



// LES POLICES D'ECRITURES
@font-face {
  font-family: "Jay Gothic";
  src :url("polices/Jay-Gothic-URW-Light.ttf") format("truetype");

}
$police-1 : 'Jay Gothic';
$police-2 : 'Arial';
$police-3 : 'Sans-serif';

//FONT SIZE
$font-size-input-btn : 1.1rem;
